URxvt.scrollBar:	false
URxvt.saveLines:	65535
Xft*dpi:       96
Xft*antialias: True
Xft*hinting:   Full
Xft.hinting: tru
Xft.rgba: rgb 
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault


URxvt.keysym.KP_Add:    +
URxvt.keysym.KP_Subtract: -
URxvt.keysym.KP_Multiply: *
URxvt.keysym.KP_Divide  : /
URxvt.keysym.KP_Decimal : .
URxvt.keysym.KP_Separator : ,
URxvt.keysym.KP_1:      1
URxvt.keysym.KP_2:      2
URxvt.keysym.KP_3:      3
URxvt.keysym.KP_4:      4
URxvt.keysym.KP_5:      5
URxvt.keysym.KP_6:      6
URxvt.keysym.KP_7:      7
URxvt.keysym.KP_8:      8
URxvt.keysym.KP_9:      9
URxvt.keysym.KP_0:      0

! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755:        false
URxvt.iso14755_52:     false

! Disable Ctrl-Alt-c & Ctrl-Alt-v bindings (optional)
URxvt.keysym.C-M-c:    builtin-string:
URxvt.keysym.C-M-v:    builtin-string:

! Bind Ctrl-Shift-c & Ctrl-Shift-v to copy and paste
! I dont know why, but I needed to use hex keysym values to get it to work
URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
URxvt.keysym.C-S-0x56: eval:paste_clipboard
URxvt.cursorBlink: true

URxvt*font: xft:TerminessTTF Nerd Font:size=11

URxvt*transparent: true
URxvt*tintColor: White
URxvt*shading: 25
URxvt*scrollBar: false

urxvt*foreground: #dfdfdf

*background:  #303030
*foreground:  #b0b0b0
! Black
*color0:      #202020
*color8:      #606060
! Red
*color1:      #ff6565
*color9:      #ff8d8d
! Green
*color2:      #93d44f
*color10:     #c8e7a8
! Yellow
*color3:      #eab93d
*color11:     #ffc123
! Blue
*color4:      #204a87
*color12:     #3465a4
! Mangenta
*color5:      #ce5c00
*color13:     #f57900
! Cyan
*color6:      #89b6e2
*color14:     #46a4ff
! White
*color7:      #cccccc
*color15:     #ffffff
